<div class="list">
    <ul>
        <% data.forEach(function(_category){ %>
            <% _category.libraryList.forEach(function(_library){
                    _library = parseLibrary(_library);
             %>
                <li>
                    <a class="link" href="/library/<%= _library.name %>" title="<%= _library.title %>">
                        <p><img src="<%= _library.imgsrc %>" alt="<%= _library.title %>"/></p>
                        <h4><%= _library.title %></h4>
                    </a>
                    <% var _versions = _library.version; %>
                    <span class="ver">
                        <% if(_versions.indexOf('1') != -1){ %>
                            <a href="/library/<%= _library.name %>/1" class="u-ver u-ver-1" title="兼容版">兼容版</a>
                        <% }else{ %>
                            <span class="u-ver u-ver-1" title="暂无兼容版"></span>
                        <% }
                        if(_versions.indexOf('2') != -1){ %>
                            <a href="/library/<%= _library.name %>/2" class="u-ver u-ver-2" title="优雅版">优雅版</a>
                        <% }else{ %>
                            <span class="u-ver u-ver-2" title="暂无优雅版"></span>
                        <% }
                        if(_versions.indexOf('3') != -1){ %>
                            <a href="/library/<%= _library.name %>/3" class="u-ver u-ver-3" title="高级版">高级版</a>
                        <% }else{ %>
                            <span class="u-ver u-ver-3" title="暂无高级版"></span>
                        <% } %>
                    </span>
                </li>
            <% }) %>
        <% }) %>
   </ul>
</div>
